<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HARDWARIO Tester</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="shortcut icon" href="https://static.wixstatic.com/media/941a28_e2d125f3e6b24feb93db960e9806d2c1%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/941a28_e2d125f3e6b24feb93db960e9806d2c1%7Emv2.png" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css.map">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  </head>
  <body>
    <section class="hero is-dark is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title has-text-danger">
              HARDWARIO
            </h1>
            <h2 class="subtitle has-text-danger">
              Tester by VPetras
            </h2>
          </div>
        </div>
      </section>
    <div class="field has-addons">
      <div class="control is-expanded">
        <div class="control has-icons-left">
          <div class="select is-fullwidth">
            <select name="module">
              <option value="" disabled selected>Choose testing module</option>
              <option value="Core Module R2">Core Module R2</option>
              <option value="Core Module R1">Core Module R1</option>
              <option value="Radio DONGLE Module">Radio DONGLE Module</option>
              <option value="Climate Module">Climate Module</option>
              <option value="Temperature Tag">Temperature Tag</option>
              <option value="Humidity Tag">Humidity Tag</option>
              <option value="Pressure Tag">Pressure Tag</option>
              <option value="Lux meter Tag">Lux meter Tag</option>
              <option value="VOC Tag">VOC Tag</option>
              <option value="VOC Tag LP">VOC Tag LP</option>
            </select>
          </div>
          <span class="icon is-left">
            <i class="fas fa-microchip"></i>
          </span>
        </div>
      </div>
      <div class="control">
        <button type="submit" class="button is-primary">Test</button>
      </div>
    </div>
  </body>
</html>
